@model DatabaseIntegration.Models.ToDo

<h1>Edit Todo</h1>

<form method="post" action="@Model.Id/edit">
    <label for="title">Todo Name</label>
    <input id="title" name="title" type="text" value="@Model.Title" />

    <label for="IsUrgent">Urgent</label>
    @Html.EditorFor(m => m.IsUrgent)
    <label for="IsDone">Done</label>
    @Html.EditorFor(m => m.IsDone)

    <button name="id" value="@ViewData["id"]" type="submit">Submit</button>
</form>