<h1>Todos for today:</h1>

<form method="get" action="/search">
    <input name="title" type="text" />
    <button type="submit">Search</button>
</form>

@Html.ActionLink("Add todo", "AddToDo")
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>TITLE</th>
            <th>URGENT</th>
            <th>DONE</th>
        </tr>
    </thead>
    
    @foreach (var todo in Model)
    {
<tr>
    <td>@todo.Id</td>
    <td>@todo.Title</td>
    <td>@todo.IsUrgent</td>
    <td>@todo.IsDone</td>
    <td>@Html.ActionLink("Remove", "RemoveToDo", "todo", new { id = todo.Id })</td>
    <td>@Html.ActionLink("Edit", "EditToDo", "todo", new { id = todo.Id })</td>
</tr>
    }
</table>
@Html.ActionLink("Show active", "List", "ToDo", new { isActive = true })